
.page {
    height: 100%;
}

.page-body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background: url(../img/background.png) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.main {
    width: 100%;
}

.journey-text {
    text-decoration: none;
    margin-top: 18px;
    margin-left: 79px;
    text-transform: uppercase;

    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    align-items: center;
    color: #FFFFFF;

}

.welcome-text {
    margin: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    align-self: center;
    color: #FFFFFF;
}

.login-text {
    text-decoration: none;
    margin: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    align-items: center;

    color: #FFFFFF;
}

.welcome-login-text {
    margin-right: 79px;
    margin-left: 27px;
}

.v-line {
    content: "";
    width: 1px;
    height: 19px;
    top: 20px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
}

.header-menu {
    display: flex;
    margin-top: 17px;
}

.icons {
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 24px;
}

.icons-item {
    margin: 0;
    width: 50px;
}

.calendar {
    width: 21px;
    height: 24px;
}

.mail {
    width: 23px;
    height: 24px;
}

.compass {
    width: 23px;
    height: 23px;
}

.journey-text:hover {
    color: #3CB878;
}

.login-text:hover {
    color: #3CB878;
}

.cal-img:hover .calendar {
    display: none;
}

.cal-img:hover .calendar1 {
    display: flex;
}

.calendar1 {
    display: none;
}

.mail1 {
    display: none;
}

.compass1 {
    display: none;
}

.mail-img:hover .mail {
    display: none;
}

.mail-img:hover .mail1 {
    display: flex;
}

.compass-img:hover .compass {
    display: none;
}

.compass-img:hover .compass1 {
    display: flex;
}

.sign-form {
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 444px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.form-header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.sign-up-label {

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #434343;
    padding-top: 31px;
}

.sign-up-label:before {
    content: "";
    display: inline-flex;
    vertical-align: middle;
    width: 18px;
    padding-bottom: 18px;
    overflow: hidden;
    background: #3CB878;
    margin-right: 42px;
}

.log-in-label {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #3CB878;
    padding-top: 33px;
    padding-right: 60px;
}

.log-in-label:hover {
    text-decoration: underline;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #01813F;
}

.container {
    display: flex;
    width: 324px;
    margin: 0 auto;
}

.buttons {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
}

.facebook-btn {

    border: none;
    width: 157px;
    margin-right: 10px;
    background-color: #305DB8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.google-btn {

    border: none;
    width: 157px;
    background-color: #DF4A32;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.facebook-text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #FFFFFF;

}

.google-text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
    color: #FFFFFF;
}

.facebook-btn:hover {
    background-color: #022263;;
}

.google-btn:hover {
    background-color: #AB1F09;;
}

.v-line2 {
    width: 1px;
    height: 28px;
    left: 48px;
    top: 10px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    margin-right: 18px;
    margin-left: 18px;
}

.form-fields {
    display: flex;
    width: 324px;
    margin: 0 auto;
    flex-direction: column;
}

.form-field {

    border: 1px solid #F2F2F2;
    border-radius: 4px;
    width: 319px;
    height: 44px;
    margin-top: 15px;
}

input::placeholder {
    padding-left: 20px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #BEBEBE;
}

input:focus {
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    outline: none;
}

.h-line {
    margin-top: 36px;
    width: 152px;
    height: 1px;
    background: #F2F2F2;
}

.h-line-block {
    display: flex;
    flex-direction: row;
}

.h-span {
    margin-top: 28px;
    padding-left: 2px;
    padding-right: 2px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #848484;
}

.account-btn {
    margin-top: 20px;
    width: 324px;
    background: rgba(60, 184, 120, 0.8);
    border: none;
    border-radius: 4px;
    margin-bottom: 38px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.account-text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    color: #FFFFFF;
}

.account-btn:hover {
    background-color: #01813F;
}

input:checked{

}

.check-text1{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    align-items: center;

    color: #434343;
}

.check-text2{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #3CB878;
}

.check-text2:hover{
    color: #01813F;
    text-decoration: underline;
}
.check-label{
    margin-top: 15px;
}
